@charset "utf-8";

/* common
 */
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: #3b3b3b;
}
header,
body,
footer {
  color: gray;
}
body {
  margin: 0;
}

/* header
 */
.selectLanguage {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.menuBar {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  gap: 40px;
  font-size: 20px;
}
.menuBar ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.menuFooter {
  display: none;
}
.title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.title:hover {
  color: gray;
}

/* body
 */
/* about
 */
.topPic {
  height: 30vh;
  width: 100vw;
  object-fit: cover;
}
.introduce h2,
.work h2,
.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 40px auto;
}
.introduceContents {
  display: flex;
  justify-content: space-evenly;
}
.introduceContents a {
  display: flex;
  justify-content: end;
}
.introduceText {
  width: 30%;
}
.introduceText p {
  overflow-wrap: normal;
}
.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

/* footer
 */
.snsIcon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto 0;
}
.snsIcon a {
  font-size: 30px;
  color: gray;
}
footer {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.toUp {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 100px;
}
.toUpLink {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toUpLink:hover {
  color: gray;
}

/* about
 */
.aboutContents {
  display: flex;
  justify-content: space-around;
}
.aboutImage {
  height: 300px;
  width: 300px;
  margin: 100px auto auto 100px;
}
.aboutName {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutName p {
  justify-content: center;
}
.aboutIntroduce {
  width: 40%;
}
.myCarrier {
  display: flex;
}
.mySkill {
  margin: 20px 200px;
  line-height: 40px;
}
.barRemain {
  height: 5px;
  width: 100%;
  border: gray 1px solid;
  position: relative;
}
.bar1year {
  height: 5px;
  width: 20%;
  background-color: gray;
  border: gray 1px solid;
  position: absolute;
  margin-top: -23px;
}
.bar6month {
  height: 5px;
  width: 10%;
  background-color: gray;
  border: gray 1px solid;
  position: absolute;
  margin-top: -23px;
}
.bar3month {
  height: 5px;
  width: 5%;
  background-color: gray;
  border: gray 1px solid;
  position: absolute;
  margin-top: -23px;
}
.pointer1,
.pointer2,
.pointer3,
.pointer4 {
  position: relative;
}
.popup1,
.popup2,
.popup3,
.popup4 {
  position: absolute;
  margin: -50px auto auto 150px;
  border: gray 1px solid;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #fff;
  width: 80px;
  text-align: center;
}
.return {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

/* works
 */
.workWrap {
  margin: auto 100px;
}
.workList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 750px;
  width: 100vw;
  padding: 150px 0;
  position: relative;
}
.workList0,
.workList2 {
  background-color: #e0e0e0;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
.workList1 {
  padding: 0 auto;
  height: 500px;
}
.workDetailImage {
  height: auto;
  width: 40%;
}
.workTitle {
  width: 20vw;
}
.imageList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  width: 60%;
  align-items: center;
}
.workContents {
  margin: auto 150px;
}
.work a {
  display: flex;
  justify-content: end;
  margin: auto 20px;
}
.workImg {
  height: 250px;
  width: 250px;
}
.workImg:hover {
  transform: scale(1.1);
  transition: .3s;
  z-index: 3;
  position: relative;
  box-shadow: 2px 2px 8px #666;
  cursor: pointer;
}
.functionLink {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.moreLink a {
  margin-top: -50px;
}

/* modal
 */
.modal {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, .5);
  height: 200%;
  width: 100vw;
  margin-left: -8px;
  margin-top: -1000px;
}
.none {
  display: none;
}
.background {
  background-color: rgba(0, 0, 0, .7);
  z-index: 4;
  transition: 2s;
}
.modalWrap {
  height: 500px;
  width: 1000px;
  margin: 800px auto auto auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
  overflow-y: scroll;
}
.modalList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px auto 0;
}
.modalContent {
  display: flex;
  flex-direction: column;
  margin: 70px 30px;
  flex-wrap: wrap;
  gap: 30px;
  width: 20vw;
  height: 150%;
}
.languagueTitle {
  margin-bottom: 0;
}
.languagueList {
  background-color: rgba(0, 0, 0, .4);
  padding: 4px 5px;
  border-radius: 5px;
  overflow-wrap: normal;
  line-height: 30px;
  color: #fff;
}
.modalClose {
  cursor: pointer;
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  align-items: center;
  position: absolute;
  margin: -50px auto auto 900px;
}
.workImages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
}

/* function modal
 */
.functionModal {
  position: absolute;
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 20px 20px 20px 100px;
  width: 60vw;
  border-radius: 10px;
  z-index: 5;
  top: -300px;
  left: 0;
}
.functionContents {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 70vh;
}
.functionName {
  line-height: 5px;
  width: 50%;
}
.functionClose {
  cursor: pointer;
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  text-align: center;
  align-items: center;
  position: absolute;
  margin-top: -50px;
  right: 20px;
  color: rgba(0, 0, 0, .6);
}

/* contact
 */
.contactInput {
  width: 300px;
}
.contactTextbox {
  height: 100px;
  width: 400px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.contactContents {
  display: flex;
  flex-direction: column;
}
.contactContents label {
  width: 150px;
}
.submitBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.submitBtn input {
  border: none;
  padding: 10px 20px;
}
.error {
  color: #ff6e80;
  line-height: 10px;
}
.titleWrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 0;
}

/* mobile */
@media (max-width: 900px) {
  /* hamburger */
  .hamburger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
    z-index: 4;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px gray;
    border-radius: 3px;
    transition: .35s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 6px;
  }
  .hamburger span:nth-child(2) {
    top: 18px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
  }
  .navi {
    transform: translateX(200%);
    transition: .5s ease-in-out;
    display: block;
    position: fixed;
    z-index: 3;
    width: 50vw;
    height: 350px;
    background-color: #fff;
    top: 0px;
  }
  .navi ul {
    display: block;
  }
  .navi.active {
    transform: translateX(100%);
    transition: .5s ease-in-out;
  }
  .menuBar {
    justify-content: center;
    text-align: center;
    margin-right: 0;
  }
  .menuBar {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .menuBar li {
    margin-top: 20px;
    border-bottom: 0.5px #666 solid;
    width: 50vw;
  }
  .hamburgerBackGround.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, .3);
    transition: .5s ease-in-out;
    display: block;
  }
  .scrollStop {
    overflow: hidden;
  }
  .menuFooter {
    display: block;
  }
  .menuSNS {
    margin-top: 20px!important;
  }
  footer {
    margin: 10px auto;
  }

  /* common */
  html {
    overflow-x: hidden;
  }
  .topPic {
    width: 100vw;
  }
  .toUp {
    margin: 20px 30px 0 0;
  }
  /* introduce */
  .introduceContents {
    flex-direction: column;
    align-items: center;
  }
  .introduceText {
    width: 70%;
    padding: 20px 0;
  }
  /* work */
  .workList {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 50px 0;
    margin-bottom: -50px;
  }
  .workList0,
  .workList2 {
    clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
  }
  .workTitle {
    width: 90vw;
  }
  .imageList {
    flex-wrap: nowrap;
    align-items: center;
  }
  .workDetailImage {
    width: 300px!important;
    height: auto;
  }
  .functionBtn {
    margin-right: 20px;
  }
  .moreLink {
    display: flex;
    justify-content: end;
    margin: 50px 20px auto auto;
  }
  .workContents {
    margin: auto 10px;
  }
  /* contact */
  .contactForm {
    margin: 0 auto 30px;
  }
  .contactInput {
    width: 100%;
  }
  .contactTextbox {
    width: 100%;
  }
  .contactWrap {
    width: 50%;
  }
}

@media(max-width: 420px) {
  /* about */
  .aboutContents {
    flex-direction: column;
    align-items: center;
  }
  .aboutImage {
    align-items: center;
    margin: 0;
  }
  .aboutName {
    margin: 20px 0;
  }
  .aboutIntroduce {
    width: 80%;
  }
  .mySkill {
    margin: 10px 30px;
  }
  .return {
    margin: 40px auto;
  }
  .snsIcon{
    margin: 0 auto;
  }
}
