@charset "utf-8";

/*
common
 */
li {
  list-style: none;
}
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: gray;
}
a:hover {
  color: #3b3b3b;
}
header,
body,
footer {
  color: gray;
}
body {
  margin: 0;
}
h2 {
  margin-top: 100px!important;
}
.moreLink a {
  display: flex;
  justify-content: end;
}
.hidden {
  display: none;
}
.fadeIn {
  opacity: 0;
  transform: translateY(50px);
  transition: 2s;
}
.fadeInRight {
  opacity: 0;
  transform: translateX(-50%);
  transition: 2s;
}
.fadeInLeft {
  opacity: 0;
  transform: translateX(50%);
  transition: 2s;
}
.active {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0);
}

/*
header
 */
.selectLanguage {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.menuBar {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  gap: 40px;
  font-size: 20px;
}
.menuBar ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.menuFooter {
  display: none;
}
.title {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.title:hover {
  color: gray;
}

/*
body
 */
/*
about
 */
.topPic {
  height: 30vh;
  width: 100vw;
  object-fit: cover;
}
.introduce h2,
.work h2,
.contact h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 40px auto;
}
.introduceContents {
  display: flex;
  justify-content: space-evenly;
}
.introduceContents a {
  display: flex;
  justify-content: end;
}
.introduceText {
  width: 30%;
}
.introduceText p {
  overflow-wrap: normal;
}
.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

/*
footer
 */
.snsIcon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto 0;
}
.snsIcon a {
  font-size: 30px;
  color: gray;
}
footer {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.toUp {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 100px;
}
.toUpLink {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toUpLink:hover {
  color: gray;
}

/*
about
 */
.aboutContents {
  display: flex;
  justify-content: space-around;
}
.aboutImage {
  height: 300px;
  width: 300px;
  margin: 100px auto auto auto;
}
.aboutName {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutName p {
  justify-content: center;
}
.aboutIntroduce {
  width: 40%;
}
.myCarrier {
  display: flex;
}
.mySkill,
.myTool {
  margin: 20px 200px;
  line-height: 40px;
}
.mySkillMenu,
.myToolMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #2e2e2e;
}
.mySkillMenu li {
  cursor: pointer;
  padding: 0 70px;
  border-left: 1px solid #2e2e2e;
}
.myToolMenu li {
  cursor: pointer;
  padding: 0 100px;
  border-left: 1px solid #2e2e2e;
}
.mySkillMenu li:first-child {
  border-left: none;
}
.myToolMenu li:first-child {
  border-left: none;
}
.return {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.aboutLanguageList,
.aboutToolList {
  margin: 50px 250px;
}
.aboutLanguageList li,
.aboutToolList li {
  margin: 5px 0;
}
.aboutLanguageList ul,
.aboutToolList ul {
  margin-bottom: 100px;
}
.language1,
.language2 {
  display: block;
}
.tool1 {
  display: block;
}
.aboutSelected {
  border-bottom: 1px solid #2e2e2e;
}

/*
works
 */
.workWrap {
  margin: auto 100px;
}
.workList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 750px;
  width: 100vw;
  padding: 150px 0;
  position: relative;
}
.workList0,
.workList2 {
  background-color: #e0e0e0;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
.workList1 {
  padding: 0 auto;
  height: 500px;
}
.workImage {
  height: auto;
  width: 40%;
}
.workTitle {
  width: 20vw;
}
.imageList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  height: 100%;
  width: 60%;
  align-items: center;
  overflow: scroll;
  padding: 10px;
}
.imageList::-webkit-scrollbar-thumb {
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  background-clip: padding-box;
}
.imageList::-webkit-scrollbar-track {
  margin: 5px 0;
}
.workContents {
  margin: auto 150px;
}
.workImg {
  height: 250px;
  width: 250px;
}
.workImg:hover {
  transform: scale(1.1);
  transition: .3s;
  z-index: 3;
  position: relative;
  box-shadow: 2px 2px 8px #666;
  cursor: pointer;
}
.functionLink {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
}
.worksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px auto 0;
}
.worksContents {
  width: 300px;
}
.workTopImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 0%;
  justify-content: center;
  border: .5px solid #2e2e2e;
}
.workUrl a:hover {
  border-bottom: 1px solid #2e2e2e;
}

/*
workdetails
 */
.workDetailWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.workDetailDescription {
  width: 30%;
  margin: 20px;
}
.workDetailImageWrap {
  width: 500px;
  margin: 20px;
}
.workDetailImage {
  width: 100%;
  height: auto;
  margin: 20px;
  border: #000 .5px solid;
}

/*
modal
 */
.modal {
  position: absolute;
  z-index: 5;
  background-color: rgba(0, 0, 0, .5);
  height: 200%;
  width: 100vw;
  margin-left: -8px;
  margin-top: -1000px;
}
.none {
  display: none;
}
.background {
  background-color: rgba(0, 0, 0, .7);
  z-index: 4;
  transition: 2s;
}
.modalWrap {
  height: 500px;
  width: 1000px;
  margin: 800px auto auto auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .5);
  color: #fff;
  overflow-y: scroll;
}
.modalList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px auto 0;
}
.modalContent {
  display: flex;
  flex-direction: column;
  margin: 70px 30px;
  flex-wrap: wrap;
  gap: 30px;
  width: 20vw;
  height: 150%;
}
.languageTitle {
  margin-bottom: 0;
}
.languageList {
  background-color: rgba(0, 0, 0, .4);
  padding: 4px 5px;
  border-radius: 5px;
  overflow-wrap: normal;
  line-height: 30px;
  color: #fff;
}
.modalClose {
  cursor: pointer;
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  align-items: center;
  position: absolute;
  margin: -50px auto auto 900px;
}

/*
contact
 */
.contactInput {
  width: 300px;
}
.contactTextbox {
  height: 100px;
  width: 400px;
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
.contactContents {
  display: flex;
  flex-direction: column;
}
.contactContents label {
  width: 150px;
}
.submitBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.submitBtn input {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.error {
  color: #ff6e80;
  line-height: 10px;
}
.titleWrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 0;
}
.contactMessage {
  text-align: center;
}

/*
contact confirm
 */
.contactConfirmWrap {
  width: 400px;
}
.contactConfirmContents {
  display: flex;
  flex-direction: column;
}
.contactConfirmContents label {
  width: 150px;
  height: 30px;
}

/*
mobile
 */
@media (max-width: 900px) {
  /*
  hamburger
   */
  .hamburger {
    position: relative;
    width: 30px;
    height: 42px;
    cursor: pointer;
    z-index: 4;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px gray;
    border-radius: 3px;
    transition: .35s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 6px;
  }
  .hamburger span:nth-child(2) {
    top: 18px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  .hamburger.active span:nth-child(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    top: 18px;
    transform: rotate(45deg);
  }
  .navi {
    transform: translateX(200%);
    transition: .5s ease-in-out;
    display: block;
    position: fixed;
    z-index: 3;
    width: 50%;
    height: 350px;
    background-color: #fff;
    top: 0px;
  }
  .navi ul {
    display: block;
  }
  .navi.active {
    transform: translateX(100%);
    transition: .5s ease-in-out;
  }
  .menuBar {
    justify-content: center;
    text-align: center;
    margin-right: 0;
  }
  .menuBar {
    margin-top: 60px;
    margin-bottom: 0;
  }
  .menuBar li {
    margin-top: 20px;
    border-bottom: 0.5px #666 solid;
    width: 50vw;
  }
  .hamburgerBackGround.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 3, 3, .3);
    transition: .5s ease-in-out;
    display: block;
  }
  .scrollStop {
    overflow: hidden;
  }
  .menuFooter {
    display: block;
  }
  .menuSNS {
    margin-top: 20px!important;
  }
  footer {
    margin: 10px auto;
  }

  /*
  common
   */
  html {
    overflow-x: hidden;
  }
  .topPic {
    width: 100vw;
  }
  .toUp {
    margin: 20px 30px 0 0;
  }
  /*
  introduce
   */
  .introduceContents {
    flex-direction: column;
    align-items: center;
  }
  .introduceText {
    width: 70%;
    padding: 20px 0;
  }
  .mySkillMenu,
  .myToolMenu {
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
  }
  .mySkillMenu li,
  .myToolMenu li {
    border-left: none;
    border-bottom: 1px solid #000;
    line-height: 70px;
    text-align: center;
    padding: 0;
  }
  .aboutLanguageList,
  .aboutToolList {
    margin: 50px 25%;
  }
  .mySkill,
  .myTool {
    margin: 20px 40px;
  }
  .mySkillMenu,
  .myToolMenu {
    border-bottom: none;
  }
  /*
  work
   */
  .workList {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 50px 0;
    margin-bottom: -50px;
  }
  .workList0,
  .workList2 {
    clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);
  }
  .workTitle {
    width: 90vw;
  }
  .imageList {
    flex-wrap: nowrap;
    align-items: center;
  }
  .workImage {
    width: 300px!important;
    height: auto;
  }
  .moreLink {
    display: flex;
    justify-content: end;
    margin: 50px 20px auto auto;
  }
  .workContents {
    margin: auto 10px;
  }
  .workDetail {
    margin: auto;
  }
  .workDetail h2 {
    font-size: 30px;
    margin: 0 5%;
  }
  .workDetailWrap {
    flex-direction: column;
  }
  .workDetailDescription {
    margin: 0 auto;
    width: 80%;
  }
  .workDetailImageWrap {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .workDetailImage {
    width: 80%;
  }
  /*
  contact
   */
  .contactForm {
    margin: 0 auto 30px;
  }
  .contactInput {
    width: 100%;
  }
  .contactTextbox {
    width: 100%;
  }
  .contactWrap {
    width: 50%;
  }
}

@media(max-width: 420px) {
  /*
  about
   */
  .aboutContents {
    flex-direction: column;
    align-items: center;
  }
  .aboutImage {
    align-items: center;
    margin: 0;
  }
  .aboutName {
    margin: 20px 0;
  }
  .aboutIntroduce {
    width: 80%;
  }
  .mySkill {
    margin: 10px 30px;
  }
  .return {
    margin: 40px auto;
  }
  .snsIcon{
    margin: 0 auto;
  }
}
